#art-page {
	article {
	    display: inline-block;
	    margin: 0 -26px 37px 50px;
	    text-align: center;
	    width: 150px;

	    img {
		    border: 1px solid #000000;
		    box-shadow: 5px 5px 5px #000000;
		    cursor: pointer;
		}

		img:hover {
		    box-shadow: 2px 2px 2px #000000;
		    position: relative;
		    left: 2px;
		    top: 2px;
		}

		hr {
		    margin: 1px 0;
		}

		footer {
		    margin-top: 5px;
		}

		a {
			text-decoration: none;
			color: #666;
		}

		a.purchase-link {
		    text-decoration: none;
		    color: #0099ff;
		    font-size: .8em;
		}
	}
}