#resume-page {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px #000000;
    display: block;
    margin: 20px auto 30px;
    overflow: hidden;
    padding: 0 50px 20px;
    width: 700px;

    &.main-content {
    	width: 700px;

    	h1 {
    		font-size: 1.17em;
		    margin-left: 0;

		    a {
			    font-size: 14px;
			    text-decoration: none;
			}
		}
    }

    .job-employer {
	    clear: both;
	    display: block;
	    overflow: hidden;
	    margin-bottom: 20px;

	    ul li {
		    margin-bottom: 5px;
		}
	}
}