@import (less) url('../views/artView.less');
@import (less) url('../views/fullArtView.less');
@import (less) url('../views/portfolioView.less');
@import (less) url('../views/resumeView.less');
@import (less) url('../components/FrameworkNav/frameworkNav.less');
@import (less) url('../components/MainNav/MainNav.less');
@import (less) url('../components/HomeContent/homeContent.less');
@import (less) url('../components/HomeText/homeText.less');
@import (less) url('../components/ContactText/contactText.less');
@import (less) url('../components/Twinkle/twinkle.less');

body {
	background: url(http://images.shaunbloom.com/bg3.jpg) 0 0 #0a0a0a fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}

@-webkit-keyframes fade-out-init{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
}

.fade-out-init {
    -webkit-animation:fade-out-init 0s linear;
    visibility:hidden;
}

@-webkit-keyframes fade-out{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
}

.fade-out {
    -webkit-animation:fade-out 1s linear;
    visibility:hidden;
}

@-webkit-keyframes fade-in{
    0%{opacity:0;visibility: visible;}
    100%{opacity:1;}
}
.fade-in {
    -webkit-animation:fade-in 1s linear;
}

.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

#wrapper {
    width: 50em;
    margin: 0 auto;

	#content {
		position: absolute;
	    border: 0px solid #FFF;
	    width: 43.75em;
	    height: 0;
	    display: block;
	    top: 14.65em;
	    z-index: 90;

	    &.overflow-hidden {
			overflow: hidden;
		}

	    &.loaded {
	    	border: 1px solid #FFF;
			height: 402px;
			opacity: 1;
		  	transition: all 2s ease;
		}
	}

	#close {
	    background: url(http://images.shaunbloom.com/close-button.png) no-repeat scroll 0 0 transparent;
	    cursor: pointer;
	    display: block;
	    height: 34px;
	    position: absolute;
	    right: 10px;
	    width: 34px;
	    z-index: 3;
	    top: 10px;
	}
}

#dynamic-content {
	position: relative;
    top: 0;
    left: 0;
    color: #666;
    height: 800px;
    z-index: 100;

    p, ul {
	    float: left;
	    clear: left;
	}

    .main-content {
    	width: 800px;
	    margin: 20px auto 30px;
	    background-color: #FFF;
	    box-shadow: 5px 5px 5px #000;
	    border: 2px solid #000;

	    h1 {
	    	display: block;
		    float: none;
		    margin-left: 50px;
		    padding: 0;
		    color: #666;
		    font-size: 24px;
	    }
    }
}
	