@import (less) url('../components/FrameworkNav/frameworkNav.less');
@import (less) url('../components/MainNav/MainNav.less');
@import (less) url('../components/HomeContent/homeContent.less');
@import (less) url('../components/HomeText/homeText.less');
@import (less) url('../components/ContactText/contactText.less');
@import (less) url('../components/Twinkle/twinkle.less');

body {
	background: url(http://images.shaunbloom.com/bg3.jpg) 0 0 #0a0a0a fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}


#wrapper {
    width: 50em;
    margin: 0 auto;

	#content {
		position: absolute;
	    border: 1px solid #FFF;
	    width: 43.75em;
	    height: 25em;
	    display: block;
	    top: 14.65em;
	    z-index: 90;
	}
}
	