.background {
	background-color: #000000;
    background-image: url(http://images.shaunbloom.com/face.png);
    background-repeat: no-repeat;
    display: block;
    height: 23.12em;
    padding: 0.93em 1.56em;
    position: relative;
    width: 40.62em;
    background-position: 23.56em 0;
}